.fieldInput {
  width: 100%;

  &--checkbox {
    width: 18px;
  }

  &__choices {
    display: grid;
    gap: 10px;

    label {
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--text);
    }

    input {
      width: 18px;
    }
  }
}
